{% extends 'layout.html' %}
{% block body %}
    <h1>Make an appointment</h1>
    {% from "includes/_formhelpers.html" import render_field%}
    <form method="POST">
        <div class="form-group">
            {{render_field(form.date,class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.startTime,class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.endTime,class_="form-control")}}
        </div>
        <div class="form-group">
            {{render_field(form.doctor, class_="form-control")}}
        </div>
        
        <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
{% endblock %}